body{
	overflow: auto;
}
.wraper {
min-height: 1300px;
max-width: 1366px;
margin: 0 auto;
margin-left: auto;
margin-right: auto;
display: flex;
align-items: center;
justify-content: center;


}
.conteiner {
	max-width: 621px;
	max-height: 500px;

}
.task-add {
	margin: 0px 0px 0px 80px;
}
.input-add {
	min-width: 400px;
	min-height: 50px;
	background: #F1F1F1;
	border-radius: 10px;
	border: none;
	padding: 0px 0px 0px 15px;
}
.button-add {
	min-width: 107px;
	min-height: 50px;
	border-radius: 10px;
	padding: 18px, 30px, 18px, 30px;
	background-color: #A672FF;
	border: none;
}
.iportant{
	text-align: center;
}

.button-imp {
	font-weight: bold;
	color: #A40E11; 
	margin: 0 auto;
}
	
.tasks {
	width: 100%;
	
}
.tasks-meny{

}
.task-item {
	min-width: 621px;
	min-height: 60px;
	border-radius: 10px;
	background-color: #F1F1F1;
	margin: 0px 0px 20px 0px;
	padding: 10px;
	border: 0px solid black;
	position: relative;
	list-style-type: none;
}
.options {
	display: flex;
	justify-content: space-around;
	width: 100%;
	min-height: 60px;
	border-radius: 10px;
	background-color: #F1F1F1;
	margin: 97px 0px 0px 0px;
	
	
}
.custom-checkbox{
	opacity: 0.6;
}
.custom-checkbox:after{
	color: blue;
}
.redakt{
	min-height: 30px;
	min-width: 30px;
	text-align: right;
	position: absolute;
	right: 70px;
	border: none;
	border-radius: 10px;
	background: #F5F5F5;
}
.redakt:hover{
	background-color: #A672FF;
}
.delete {
	min-height: 30px;
	min-width: 30px;
	text-align: center;
	position: absolute;
	right: 10px;
	border: none;
	border-radius: 10px;
	background: #F5F5F5;
}
h3{
	text-align: center;
}
.finished-tasks{
	min-width: 621px;
	min-height: 200px;
	background-color: red;
}
.button-all {
	min-height: 28px;
	min-width: 127px;
	border-radius: 10px;
	
	border: 1px solid #A672FF;
}
.button-all:hover{
	background-color: #A672FF;
}
.button-completed {
	min-height: 28px;
	min-width: 127px;
	background-color: #FFFFFF;
	border: 1px solid #A672FF;
	box-sizing: border-box;
	border-radius: 10px;
}
.button-completed:hover{
	background-color: #A672FF;
}
.button-notcomplet {
	min-height: 28px;
	min-width: 127px;
	border-radius: 10px;
	background-color: #FFFFFF;
	border: 1px solid #A672FF;
	box-sizing: border-box;
	border-radius: 10px;
}
.button-notcomplet:hover{
	background-color: #A672FF;
}
.is-important {
	color: #5c8bf0;
	background-color: #fdedf4;
}
.button.checkbox{
	float: left;
}